@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
html, body {
  margin-right: 0;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0; }

main {
  width: 100%; }

.pointer {
  cursor: pointer; }

.display-none {
  display: none; }

.display-block {
  display: block; }

.allMayus {
  text-transform: uppercase; }

.firstMayus {
  text-transform: capitalize; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .contact__chat {
    height: 480px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .contact__chat {
    height: 568px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact__chat {
    height: 667px; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .contact__chat {
    height: 736px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .contact__chat {
    height: 812px; } }

@font-face {
  font-family: Kabel;
  src: url("./assets/home/ITCKabelStd-Book.otf"); }

@font-face {
  font-family: Kabelbold;
  src: url("./assets/home/ITCKabelStd-Bold.otf"); }

@keyframes flicker {
  0% {
    opacity: 0.27861; }
  5% {
    opacity: 0.34769; }
  10% {
    opacity: 0.23604; }
  15% {
    opacity: 0.90626; }
  20% {
    opacity: 0.18128; }
  25% {
    opacity: 0.83891; }
  30% {
    opacity: 0.65583; }
  35% {
    opacity: 0.67807; }
  40% {
    opacity: 0.26559; }
  45% {
    opacity: 0.84693; }
  50% {
    opacity: 0.96019; }
  55% {
    opacity: 0.08594; }
  60% {
    opacity: 0.20313; }
  65% {
    opacity: 0.71988; }
  70% {
    opacity: 0.53455; }
  75% {
    opacity: 0.37288; }
  80% {
    opacity: 0.71428; }
  85% {
    opacity: 0.70419; }
  90% {
    opacity: 0.7003; }
  95% {
    opacity: 0.36108; }
  100% {
    opacity: 0.24387; } }

@keyframes textShadow {
  0% {
    text-shadow: 0.43899px 0 1px rgba(0, 30, 255, 0.5), -0.43899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  5% {
    text-shadow: 2.7929px 0 1px rgba(0, 30, 255, 0.5), -2.7929px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  10% {
    text-shadow: 0.02956px 0 1px rgba(0, 30, 255, 0.5), -0.02956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  15% {
    text-shadow: 0.40219px 0 1px rgba(0, 30, 255, 0.5), -0.40219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  20% {
    text-shadow: 3.4794px 0 1px rgba(0, 30, 255, 0.5), -3.4794px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  25% {
    text-shadow: 1.61256px 0 1px rgba(0, 30, 255, 0.5), -1.61256px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  30% {
    text-shadow: 0.70156px 0 1px rgba(0, 30, 255, 0.5), -0.70156px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  35% {
    text-shadow: 3.89691px 0 1px rgba(0, 30, 255, 0.5), -3.89691px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  40% {
    text-shadow: 3.87091px 0 1px rgba(0, 30, 255, 0.5), -3.87091px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  45% {
    text-shadow: 2.23106px 0 1px rgba(0, 30, 255, 0.5), -2.23106px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  50% {
    text-shadow: 0.08084px 0 1px rgba(0, 30, 255, 0.5), -0.08084px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  55% {
    text-shadow: 2.37585px 0 1px rgba(0, 30, 255, 0.5), -2.37585px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  60% {
    text-shadow: 2.20219px 0 1px rgba(0, 30, 255, 0.5), -2.20219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  65% {
    text-shadow: 2.86388px 0 1px rgba(0, 30, 255, 0.5), -2.86388px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  70% {
    text-shadow: 0.48874px 0 1px rgba(0, 30, 255, 0.5), -0.48874px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  75% {
    text-shadow: 1.89485px 0 1px rgba(0, 30, 255, 0.5), -1.89485px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  80% {
    text-shadow: 0.0833px 0 1px rgba(0, 30, 255, 0.5), -0.0833px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  85% {
    text-shadow: 0.0977px 0 1px rgba(0, 30, 255, 0.5), -0.0977px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  90% {
    text-shadow: 3.44334px 0 1px rgba(0, 30, 255, 0.5), -3.44334px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  95% {
    text-shadow: 2.18418px 0 1px rgba(0, 30, 255, 0.5), -2.18418px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  100% {
    text-shadow: 2.62088px 0 1px rgba(0, 30, 255, 0.5), -2.62088px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; } }

.home::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite; }

.home::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none; }

.home {
  animation: textShadow 1.6s infinite; }

.home {
  font-family: Kabel;
  background-image: url("./assets/home/ssbbackground.png");
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%; }

.home__down {
  display: flex;
  height: 100%; }

.home__mode {
  width: 30%; }

.home__mode-background {
  background-color: #002549;
  margin-left: 6vw;
  margin-top: -205px;
  width: 25vw;
  height: 150px;
  transform: perspective(300px) rotateX(-30deg);
  -webkit-transform: perspective(300px) rotateX(-30deg);
  transform-origin: 0% 50%;
  box-shadow: 10px 10px #001426; }

.home__mode-text {
  color: #3572b4;
  font-size: 90px;
  font-family: Kabelbold;
  width: 300px;
  line-height: .8;
  margin-left: 10vw;
  position: relative;
  z-index: 1;
  text-shadow: 5px 5px black;
  cursor: default; }

.home__navbar {
  font-family: Kabelbold;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%; }

.home__navbar-item {
  text-decoration: none;
  color: #ff1900;
  display: flex;
  align-items: center;
  height: 20vh;
  width: fit-content; }

.home__navbar-item p {
  margin-left: 140px;
  margin-top: 23%; }

.home__navbar-item:first-child {
  margin-left: 13vw; }

.home__navbar-item:nth-child(0n+2) {
  margin-left: 5vw; }

.home__navbar-item:nth-child(0n+3) {
  margin-left: -3vw; }

.home__navbar-item:nth-child(0n+4) {
  margin-left: -11vw; }

.home__navbar-item-picture1 {
  background-image: url("../styles/assets/home/pics/mando.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 50% 30%;
  width: 150px;
  height: 150px; }

.home__navbar-item-picture1:hover {
  background-image: url("../styles/assets/home/pics/mando-gris.png"); }

.home__navbar-item-picture2 {
  background-image: url("../styles/assets/home/pics/n64.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 50% 30%;
  width: 150px;
  height: 150px; }

.home__navbar-item-picture2:hover {
  background-image: url("../styles/assets/home/pics/n64-gris.png"); }

.home__navbar-item-picture3 {
  background-image: url("../styles/assets/home/pics/controles.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 50% 30%;
  width: 150px;
  height: 150px; }

.home__navbar-item-picture3:hover {
  background-image: url("../styles/assets/home/pics/controles-gris.png"); }

.home__navbar-item-picture4 {
  background-image: url("../styles/assets/home/pics/libro.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 50% 30%;
  width: 150px;
  height: 150px; }

.home__navbar-item-picture4:hover {
  background-image: url("../styles/assets/home/pics/libro-gris.png"); }

.home__btn {
  margin-top: auto; }

.home__button {
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  font-size: 30px;
  background-color: #3572b4;
  height: fit-content;
  position: relative;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #002549;
  padding: 0.5em 1em 0.2em 1em; }

.home__button::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }

.home__button::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }

.home__button:hover::before {
  right: 80%; }

.home__button:hover::after {
  left: 80%; }

@media only screen and (min-device-width: 0px) and (max-device-width: 660px) {
  .home {
    font-family: Kabelbold;
    background-position: bottom;
    background-position-x: 72%; }
  .home__mode {
    width: 100%; }
  .home__mode-background {
    width: 70%;
    height: 10vh;
    margin-top: -93px; }
  .home__mode-text p {
    font-size: 50px; }
  .home__down {
    flex-direction: column;
    justify-content: space-between; }
  .home__navbar {
    margin: 0; }
  .home__navbar-item {
    height: 80px;
    font-size: 25px; }
  .home__navbar-item p {
    margin-left: 85px;
    margin-top: 23%; }
  .home__navbar-item:first-child {
    margin-left: 7vw; }
  .home__navbar-item:nth-child(0n+2) {
    margin-left: 7vw; }
  .home__navbar-item:nth-child(0n+3) {
    margin-left: 7vw; }
  .home__navbar-item:nth-child(0n+4) {
    margin-left: 7vw; }
  .home__navbar-item-picture1 {
    background-size: 70px 70px;
    background-position: 50% 30%;
    width: 70px;
    height: 70px; }
  .home__navbar-item-picture2 {
    background-size: 70px 70px;
    background-position: 50% 30%;
    width: 70px;
    height: 70px; }
  .home__navbar-item-picture3 {
    background-size: 70px 70px;
    background-position: 50% 30%;
    width: 70px;
    height: 70px; }
  .home__navbar-item-picture4 {
    background-size: 70px 70px;
    background-position: 50% 30%;
    width: 70px;
    height: 70px; }
  .home__btn {
    margin-top: initial; }
  .home__button {
    font-size: 20px;
    width: 100%; } }

@media only screen and (min-device-width: 660px) and (max-device-width: 900px) {
  .home__mode-text {
    font-size: 40px; }
  .home__navbar {
    margin: auto; }
  .home__navbar-item {
    font-size: 40px; }
  .home__mode-background {
    margin-top: -93px;
    height: 15vh; }
  .home__btn {
    margin-top: auto; }
  .home__button {
    font-size: 20px;
    width: 100%; }
  .home__navbar-item-picture1 {
    background-size: 80px 80px; }
  .home__navbar-item-picture2 {
    background-size: 80px 80px; }
  .home__navbar-item-picture3 {
    background-size: 80px 80px; }
  .home__navbar-item-picture4 {
    background-size: 80px 80px; }
  .home__navbar-item p {
    margin-top: revert; } }

.experience {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  display: flex;
  padding-left: 1vw; }

.experience span,
.experience img,
.experience h2 {
  cursor: pointer; }

.experience strong {
  color: black; }

.dark-experience {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  display: flex;
  background-color: #15202b;
  color: white;
  padding-left: 1vw; }

.dark-experience strong {
  color: white; }

.experience__top {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  position: sticky;
  align-self: flex-start;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 0;
  margin-top: 0;
  height: 5vh;
  padding: 3vh 2vw 0 2vw;
  font-weight: bold;
  border-top: none;
  width: 47vw;
  text-decoration: none;
  color: #000;
  border-bottom: 7px solid #eee; }

.dark-experience__top {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  position: sticky;
  align-self: flex-start;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #15202b;
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 0;
  margin-top: 0;
  height: 5vh;
  padding: 3vh 2vw 0 2vw;
  font-weight: bold;
  border-top: none;
  width: 47vw;
  text-decoration: none;
  color: #000; }

.dark-experience__top span {
  cursor: pointer;
  color: white; }

.experience__dark-item {
  width: 5vw;
  margin-left: auto;
  margin-top: -2vh;
  display: none; }

.dark-experience__dark-item {
  width: 5vw;
  margin-left: auto;
  margin-top: -2vh;
  display: none; }

.experience__exp-hr {
  height: 12px;
  margin: 0 0 0 0;
  border-top: none;
  border-bottom: none;
  background-color: #f5f6f7;
  border-left-style: outset; }

.experience__navbar {
  display: flex;
  flex-direction: column;
  margin: 0vh 16px 16px 0;
  font-weight: 500;
  font-size: large;
  text-overflow: ellipsis;
  position: sticky;
  align-self: flex-start;
  top: 0;
  width: 20vw;
  background-color: white; }

.experience__navbar-item {
  color: black;
  text-decoration: none;
  width: fit-content;
  line-height: 5px;
  padding: 0px 10px 0px 10px;
  border-radius: 9999px;
  display: flex;
  cursor: pointer; }

.experience__navbar-item:hover svg, .experience__navbar-item:hover,
.experience__navbar-item:hover path,
.experience__navbar-item:hover polygon,
.experience__navbar-item:hover rect {
  color: #1da1f2;
  background-color: #e8f5fe;
  fill: #1da1f2; }

.dark-experience__navbar {
  display: flex;
  flex-direction: column;
  margin: 0vh 16px 16px 0;
  font-weight: 500;
  font-size: large;
  text-overflow: ellipsis;
  position: sticky;
  align-self: flex-start;
  top: 0;
  width: 20vw;
  background-color: #15202b; }

.dark-experience__navbar-item {
  color: white;
  text-decoration: none;
  width: fit-content;
  line-height: 5px;
  padding: 0px 10px 0px 10px;
  border-radius: 9999px;
  display: flex;
  cursor: pointer;
  fill: white; }

.dark-experience__navbar-item:hover svg, .dark-experience__navbar-item:hover,
.dark-experience__navbar-item:hover path,
.dark-experience__navbar-item:hover polygon,
.dark-experience__navbar-item:hover rect {
  color: #1da1f2;
  background-color: #162d40;
  fill: #1da1f2; }

.experience__navbar-item-active {
  color: #1da1f2;
  fill: #1da1f2; }

.experience__navbar-item svg {
  margin: auto;
  width: 1.5em;
  height: 1.5em;
  padding-right: 1em;
  padding-left: 0; }

.dark-experience__navbar-item svg {
  margin: auto;
  width: 1.5em;
  height: 1.5em;
  padding-right: 1em;
  padding-left: 0; }

.experience__navbar-button {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  font-size: smaller;
  font-weight: normal;
  cursor: pointer;
  outline: inherit;
  width: 60%;
  height: 6vh;
  border-radius: 9999px;
  margin-left: auto;
  margin-right: auto; }

.experience__navbar-button:hover {
  background-color: #0d8fdf; }

.experience__navbar-button::before {
  content: attr(data-night); }

.dark-experience__navbar-button {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  font-size: smaller;
  font-weight: normal;
  cursor: pointer;
  outline: inherit;
  width: 60%;
  height: 6vh;
  border-radius: 9999px;
  margin-left: auto;
  margin-right: auto; }

.dark-experience__navbar-button:hover {
  background-color: #0d8fdf; }

.dark-experience__navbar-button::before {
  content: attr(data-day); }

.experience__tweet {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  margin-left: 0;
  margin-right: auto;
  padding: 2vh 2vw 2vh 2vw;
  width: 47vw;
  margin-top: 0;
  margin-bottom: 0; }

.experience__tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px; }

.experience__tweet-description span {
  color: #00acee;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none; }

.experience__tweet span:hover,
.experience__tweet span:focus {
  text-decoration: underline; }

.experience__tweet-head {
  display: flex;
  height: 60px; }

.experience__tweet-head img {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-top: 5px;
  margin-right: 10px; }

.experience__tweet-head img:hover {
  opacity: 0.8; }

.experience__tweet-head div {
  display: grid;
  grid-template-rows: 20px; }

.experience__tweet-company {
  color: #5b7083;
  font-weight: lighter;
  font-size: small; }

.experience__tweet-title {
  font-size: small; }

.experience__tweet-head h2:hover {
  text-decoration: underline; }

.experience__tweet-date {
  color: #5b7083;
  font-weight: lighter;
  margin-bottom: 15px; }

blockquote hr {
  color: #f1f1f1;
  border-style: none;
  height: 1px;
  background-color: #F1F1F1; }

.experience__tweet-data {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #5b7083;
  display: flex;
  justify-content: left; }

.experience__tweet-data span {
  padding-right: 20px; }

@media only screen and (min-device-width: 0px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 1) {
  .experience__navbar-item
p {
    display: none; }
  svg {
    padding: 1vh 0 1vh 0; }
  .dark-experience__navbar-item
p {
    display: none; }
  svg {
    padding: 1vh 0 1vh 0; } }

@media only screen and (min-device-width: 350px) and (max-device-width: 580px) {
  html, body {
    width: auto; }
  .experience {
    padding-bottom: 50px; }
  .dark-experience {
    padding-bottom: 50px; }
  .experience__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: fit-content;
    bottom: 0;
    top: auto;
    background-color: white;
    width: 95vw;
    margin: 0 0 0 0; }
  .experience__navbar button {
    display: none; }
  .dark-experience__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: fit-content;
    bottom: 0;
    top: auto;
    background-color: #15202b;
    width: 95vw;
    margin: 0 0 0 0; }
  .dark-experience__navbar button {
    display: none; }
  .experience__navbar-item-img {
    display: none; }
  .experience__navbar-item svg {
    padding-right: 0;
    height: 5vh; }
  .dark-experience__navbar-item svg {
    padding-right: 0;
    height: 5vh; }
  .experience__tweet {
    width: 90vw;
    margin: 0;
    border-width: 0 0 1px 0; }
  .experience__top {
    width: 90vw;
    border-width: 0 0 1px 0; }
  .dark-experience__top {
    width: 90vw;
    border-width: 0 0 1px 0; }
  .experience__dark-item {
    width: 9vw;
    margin-left: auto;
    margin-top: -2vh;
    display: block;
    fill: #162d40; }
  .dark-experience__dark-item {
    width: 9vw;
    margin-left: auto;
    margin-top: -2vh;
    display: block;
    fill: #1da1f2; } }

@media only screen and (min-device-width: 0px) and (max-device-width: 349px) {
  html, body {
    width: auto; }
  .experience {
    padding-bottom: 50px; }
  .dark-experience {
    padding-bottom: 50px; }
  .experience__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: fit-content;
    bottom: 0;
    top: auto;
    background-color: white;
    width: 95vw;
    margin: 0 0 0 0; }
  .experience__navbar button {
    display: none; }
  .dark-experience__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: fit-content;
    bottom: 0;
    top: auto;
    background-color: #15202b;
    width: 95vw;
    margin: 0 0 0 0; }
  .dark-experience__navbar button {
    display: none; }
  .experience__navbar-item-img {
    display: none; }
  .experience__navbar-item svg {
    padding-right: 0;
    height: 5vh; }
  .dark-experience__navbar-item svg {
    padding-right: 0;
    height: 5vh; }
  .experience__tweet {
    width: 90vw;
    margin: 0;
    border-width: 0 0 1px 0; }
  .experience__top {
    width: 90vw;
    border-width: 0 0 1px 0; }
  .dark-experience__top {
    width: 90vw;
    border-width: 0 0 1px 0; }
  .experience__dark-item {
    width: 9vw;
    margin-left: auto;
    margin-top: -2vh;
    display: block;
    fill: #162d40; }
  .dark-experience__dark-item {
    width: 9vw;
    margin-left: auto;
    margin-top: -2vh;
    display: block;
    fill: #1da1f2; } }

@font-face {
  font-family: GothamMedium;
  src: url("./assets/Gotham-Font/GothamMedium.ttf") format("truetype"); }

@font-face {
  font-family: GothamLight;
  src: url("./assets/Gotham-Font/GothamLight.ttf") format("truetype"), url("./assets/Gotham-Font/Gotham-Light.otf") format("opentype"); }

.formation {
  font-family: -apple-system, BlinkMacSystemFont, GothamMedium, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  background-color: #181818;
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 12px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .formation {
    height: 495px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .formation {
    height: 580px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .formation {
    height: 680px; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .formation {
    height: 750px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .formation {
    height: 830px; } }

@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 3) {
  .formation {
    height: 840px; } }

.formation__left-menu {
  resize: horizontal;
  background-color: #121212;
  overflow: hidden;
  width: 200px;
  max-width: 250px;
  min-width: 150px;
  position: relative; }

.formation__navbar {
  display: flex;
  flex-direction: column;
  font-size: small;
  justify-content: space-between;
  bottom: 0;
  padding-top: 1vh;
  padding-bottom: 1vh; }

.formation__navbar-item {
  color: #888888;
  fill: #888888;
  text-decoration: none;
  width: fit-content;
  line-height: 2vh;
  padding: 0 2vw 0px 2vw;
  display: flex;
  cursor: pointer; }

.formation__navbar-item:hover svg, .formation__navbar-item:hover,
.formation__navbar-item:hover path,
.formation__navbar-item:hover polygon,
.formation__navbar-item:hover rect {
  color: #d5d5d5;
  fill: #d5d5d5; }

.formation__navbar-item svg {
  margin: auto;
  width: 1.5em;
  height: 1.5em;
  padding-right: 1em;
  padding-left: 0; }

.formation__navbar-item-active {
  color: white;
  fill: white; }

.formation__second-menu {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: #888888;
  font-weight: 400;
  font-size: small;
  padding-bottom: 1vh;
  height: 20vh;
  flex-flow: wrap;
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, GothamLight, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; }

.formation__second-menu span {
  line-height: 5vh;
  padding: 0 2vw 0px 2vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default; }

.formation__second-menu span:hover {
  color: #d5d5d5; }

.formation__second-menu h4 {
  font-weight: lighter;
  padding: 0 2vw 0px 2vw; }

.formation__detail-list-top-mobile {
  display: none; }

.formation__detail-information {
  display: none; }

/* Works on Chrome, Edge, and Safari */
.formation__second-menu::-webkit-scrollbar {
  width: 15px; }

.formation__second-menu::-webkit-scrollbar-track {
  background: #181818; }

.formation__second-menu::-webkit-scrollbar-thumb {
  background-color: #888888; }

.formation__main {
  color: #e2e2e2;
  width: 80%; }

.formation__main-title {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid #2f2f2f;
  margin: auto;
  padding: 1vh 0 1vh 0; }

.formation__main-title-arrows {
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 5vw; }

.formation__main-title-arrows svg {
  fill: #888888;
  width: fit-content; }

.formation__main-title-arrows svg:hover {
  fill: #e2e2e2; }

.spoti-back-arrow svg {
  cursor: pointer;
  margin: 2vh 0 2vh 0;
  fill: #888888;
  width: 40px; }

.spoti-back-arrow svg:hover {
  fill: #e2e2e2; }

.formation__main-bl {
  width: 90%;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: default; }

.formation__main-bl::-webkit-scrollbar {
  display: none; }

.formation__main-block {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.formation__main-block-unit {
  width: 200px;
  padding: 2em 2em 2em 0; }

.formation__main-block-unit img {
  width: 200px;
  height: 200px;
  object-fit: cover; }

.formation__main-block-unit h3 {
  margin-bottom: 2vh;
  font-size: small; }

.formation__main-block-unit h3:hover {
  cursor: pointer;
  text-decoration: underline; }

.formation__main-block-unit h4 {
  font-size: smaller; }

.formation__main-block-unit h4, .formation__main-block-unit p {
  color: #888888;
  margin-top: 0;
  margin-bottom: 2vh; }

.formation__main-block-unit p {
  font-family: -apple-system,BlinkMacSystemFont, GothamLight, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; }

.formation__detail {
  color: #e2e2e2;
  padding: 0 2em 2em 2em;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  cursor: default; }

.formation__detail img {
  width: 200px;
  height: 200px;
  object-fit: cover; }

.formation__detail h2 {
  font-size: 45px;
  margin: 0; }

.formation__detail h4 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1vh;
  font-family: -apple-system, BlinkMacSystemFont, GothamLight, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; }

.formation__detail p {
  color: #888888;
  width: 60%;
  font-family: -apple-system, BlinkMacSystemFont, GothamLight, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; }

.formation__detailspan {
  color: #e2e2e2; }

.formation__detail-top {
  display: flex;
  padding-left: 2vw;
  padding-bottom: 6vh; }

.formation__detail-top-info {
  padding-left: 3vw; }

.color-white {
  color: #e2e2e2;
  font-weight: bolder;
  cursor: pointer; }

.color-white:hover {
  text-decoration: underline; }

.spoti-grey {
  color: #888888; }

.formation__detail-top-info-play {
  color: #e2e2e2 !important;
  background-color: #1db954;
  height: fit-content;
  width: fit-content !important;
  padding: 0.6em 3em 0.6em 3em;
  border-radius: 9999px;
  font-size: small;
  font-weight: bolder;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.formation__detail-top-info-play:hover {
  transform: scale(1.1); }

.formation__detail-list {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, GothamLight, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; }

.formation__detail-list-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2f2f2f;
  padding-bottom: 2vh;
  padding-right: 1vw;
  padding-left: 1vw;
  cursor: default; }

.formation__detail-list-left {
  display: flex;
  width: 90%;
  justify-content: space-between; }

.formation__detail-list-skills {
  padding-left: 0;
  margin-top: 0; }

.formation__detail-list-skills-item {
  display: flex;
  justify-content: space-between;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #2f2f2f;
  margin: auto;
  padding-right: 1vw;
  padding-left: 1vw;
  cursor: default; }

.formation__detail-list-skills-item:hover {
  background-color: #2f2f2f; }

.formation__detail::-webkit-scrollbar {
  width: 15px; }

.formation__detail::-webkit-scrollbar-track {
  background: #181818; }

.formation__detail::-webkit-scrollbar-thumb {
  background-color: #888888; }

.formation__mobile {
  display: none; }

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
  .formation__second-menu {
    display: none; }
  .formation {
    background: linear-gradient(-30deg, #181818 75%, #6c6c52); }
  .formation__left-menu {
    resize: horizontal;
    background-color: #121212;
    overflow: hidden;
    max-width: 0;
    min-width: 0;
    position: unset; }
  .formation__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    height: 45px;
    bottom: 0;
    top: auto;
    width: 100%;
    margin: 0 0 0 0;
    background-color: #282828;
    font-size: 10px;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 0; }
  .formation__navbar-item {
    display: flex;
    flex-direction: column; }
  .formation__navbar-item svg {
    padding: 0; }
  .formation__navbar-item p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 200; }
  .formation__navbar-item-active {
    color: white;
    fill: white; }
  .formation__main {
    width: 100%; }
  .formation__main-block {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .formation__main-block-unit {
    width: 100px;
    padding: 1em 2em 2em 0; }
  .formation__main-block-unit img {
    width: 100px;
    height: 100px;
    object-fit: cover; }
  .formation__main-block-unit h3 {
    margin-bottom: 1vh;
    font-size: 12px;
    margin-top: 1vh; }
  .formation__main-block-unit h3:hover {
    cursor: pointer;
    text-decoration: underline; }
  .formation__main-block-unit h4 {
    color: #888888;
    margin-top: 0;
    margin-bottom: 2vh;
    font-size: 10px; }
  .formation__main-block-unit p {
    display: none; }
  .formation__main-title {
    border: none;
    margin-top: 6vh; }
  .formation__main-title-arrows {
    display: none; }
  .formation__mobile {
    display: block; }
  .formation__main-block-mobile {
    display: flex;
    flex-flow: wrap;
    margin: 1em; }
  .formation__main-block-unit-mobile {
    width: 47%;
    display: flex;
    margin: 2px 0 2px 0;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: rgba(42, 42, 42, 0.4);
    border-radius: 3px; }
  .formation__main-block-unit-mobile img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin: auto 0 auto 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .formation__main-block-unit-mobile h3 {
    font-size: 10px;
    padding-left: 7px;
    align-self: center;
    line-height: 2vh; }
  .formation__detail {
    padding: 0;
    overflow: hidden; }
  .formation__detail-top img {
    display: none; }
  .formation__detail-top h2 {
    font-size: 45px;
    margin: 0; }
  .formation__detail-top h4 {
    display: none; }
  .formation__detail-top p {
    display: none; }
  .spoti-back-arrow {
    position: fixed;
    z-index: 1; }
  .formation__detail-top-info {
    margin: auto;
    text-align: center;
    color: white;
    padding: 0; }
  .formation__detail-top-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.licdn.com/dms/image/C4D0BAQFGsxQfDDIKyQ/company-logo_200_200/0?e=2159024400&v=beta&t=3kb4aXnsD-UQCFhmrB63ZX7S4R6RQCU7MJ11OrbFSlA");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    width: 100%;
    position: fixed; }
  .formation__detail-top-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.ucm.es/ext/apps/directo/img/carta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 47%;
    height: 45%;
    width: 100%;
    position: fixed; }
  .formation__detail-top-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.edarabia.com/wp-content/uploads/2018/02/university-silesia-katowice-poland.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    width: 100%;
    position: fixed; }
  .formation__detail-top-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://s3.amazonaws.com/media.al-fanarmedia.org/wp-content/uploads/2020/04/17090134/udemy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45%;
    width: 100%;
    position: fixed; }
  .formation__detail-top-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.intoconsulting.es/wp-content/uploads/2019/04/logo_urjc_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    width: 100%;
    position: fixed; }
  .formation__detail-list {
    background: linear-gradient(0deg, #181818 73%, rgba(0, 0, 0, 0.1));
    position: relative;
    margin-top: 36vh; }
  .formation__detail-list ul {
    margin: 0; }
  .formation__detail-list-top-mobile {
    display: block;
    text-align: -webkit-center;
    padding-top: 2vh;
    background: linear-gradient(0deg, #181818 10%, transparent); }
  .formation__detail-list-top-mobile .formation__detail-top-info-play {
    display: flex;
    padding: 2vh 10vw 2vh 10vw; }
  .formation__detail-list-top-mobile p {
    color: white;
    font-weight: 700; }
  .formation__detail-list-top {
    display: none; }
  .formation__detail-list-skills-item {
    padding-left: 5vh;
    padding-right: 5vh;
    border-style: none; }
  .formation__detail-list-skills-item:nth-child(n+6) {
    display: none; }
  .formation__detail-information {
    display: block;
    width: 100%;
    background-color: #181818;
    position: absolute;
    margin-top: -1vh;
    padding-bottom: 90px; }
  .formation__detail-information p {
    color: white;
    text-align: center;
    margin: auto;
    font-weight: 900;
    padding-top: 3vh;
    padding-bottom: 3vh; }
  .formation__detail-information-picture-1 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.licdn.com/dms/image/C4D0BAQFGsxQfDDIKyQ/company-logo_200_200/0?e=2159024400&v=beta&t=3kb4aXnsD-UQCFhmrB63ZX7S4R6RQCU7MJ11OrbFSlA");
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 90%;
    margin: auto;
    border-radius: 10px; }
  .formation__detail-information-picture-1 p {
    bottom: 0%;
    position: absolute;
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 90%; }
  .formation__detail-information-picture-2 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.ucm.es/ext/apps/directo/img/carta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 47%;
    height: 320px;
    width: 90%;
    margin: auto;
    border-radius: 10px; }
  .formation__detail-information-picture-2 p {
    bottom: 0%;
    position: absolute;
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 90%; }
  .formation__detail-information-picture-3 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.edarabia.com/wp-content/uploads/2018/02/university-silesia-katowice-poland.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 90%;
    margin: auto;
    border-radius: 10px; }
  .formation__detail-information-picture-3 p {
    bottom: 0%;
    position: absolute;
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 90%; }
  .formation__detail-information-picture-4 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://s3.amazonaws.com/media.al-fanarmedia.org/wp-content/uploads/2020/04/17090134/udemy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 90%;
    margin: auto;
    border-radius: 10px; }
  .formation__detail-information-picture-4 p {
    bottom: 0%;
    position: absolute;
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 90%; }
  .formation__detail-information-picture-5 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.intoconsulting.es/wp-content/uploads/2019/04/logo_urjc_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 90%;
    margin: auto;
    border-radius: 10px; }
  .formation__detail-information-picture-5 p {
    bottom: 0%;
    position: absolute;
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 90%; } }

@media only screen and (min-device-width: 0px) and (max-device-width: 900px) and (orientation: landscape) {
  .formation__detail h2 {
    font-size: 35px; }
  .formation__detail p {
    width: 100%; }
  .formation__detail img {
    width: 150px;
    height: 150px; }
  .formation__main-block-unit img {
    width: 150px;
    height: 150px; }
  .formation__main-block-unit p {
    display: none; }
  .formation__main {
    overflow: hidden; } }

.contact {
  width: 100%;
  margin: auto;
  font-family: sans-serif;
  font-size: 15px; }

.contact__chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f1f0e8; }

.contact__chat-header {
  cursor: pointer; }

.contact__profile {
  background-color: #075E54;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 1vw 0 1vw; }

.contact__profile-left {
  display: flex;
  width: 100px;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  color: white; }

.contact__profile-left-text {
  display: flex;
  flex-direction: column;
  padding-left: 2vw; }

.contact__profile-left-text h2 {
  margin: 0;
  font-size: 16px;
  width: 200px; }

.contact__profile-left-text span {
  font-size: 12px; }

.contact__arrow {
  width: 30px;
  height: 30px;
  padding-right: .5vw; }

.contact__pp {
  border-radius: 9999px;
  min-width: 35px !important;
  height: 35px;
  object-fit: cover; }

.contact__icon {
  width: 20px;
  padding-left: 1.5vw; }

.contact__navbar {
  position: absolute;
  background-color: white;
  right: 2vw;
  top: 55px;
  display: flex;
  flex-direction: column; }

.contact__navbar-item {
  margin: 0;
  text-decoration: none;
  color: #575757;
  margin: 0;
  padding: 1em 2em 1em 2em; }

.contact__navbar-item:hover {
  background-color: #ededed; }

.contact__chat-box {
  background-image: url("./assets/wa-img/backwa.png");
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
  flex: 1; }

.contact__chat-box a {
  color: black;
  font-weight: 900;
  text-decoration: none; }

.contact__chat-box .contact__img_chat {
  width: 280px; }

.contact__chat-r {
  display: flex; }

.contact__chat-r .contact__sp {
  flex: 1; }

.contact__chat-l {
  display: flex; }

.contact__chat-l .contact__sp {
  flex: 1; }

.contact__mess {
  display: flex;
  max-width: 70vw;
  background: #F7FCF6;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0px;
  cursor: pointer; }

.contact__mess p {
  margin-top: 0;
  margin-bottom: 0; }

.contact__mess-r {
  background: #E2FFC7; }

.contact__emoji {
  width: 20px; }

.contact__chat-box .contact__check {
  display: flex;
  align-items: center;
  padding-left: 2vw; }

.contact__chat-box .contact__check img {
  width: 20px;
  margin-left: 2px; }

.contact__chat-box .contact__check span {
  color: #888;
  font-size: 12px;
  font-weight: 700px; }

.contact__chat-box::-webkit-scrollbar {
  width: 5px; }

.contact__chat-box::-webkit-scrollbar-track {
  background: #f1f1f1; }

.contact__chat-box::-webkit-scrollbar-thumb {
  background: #aaa; }

.contact__chat-box::-webkit-scrollbar-thumb:hover {
  background: #555; }

.contact__chat-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 10px 0;
  object-fit: cover; }

.contact__chat-footer img {
  height: 30px;
  margin: auto; }

.contact__chat-footer input {
  height: 1em;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  border: 0px solid #ccc;
  border-radius: 60px;
  color: #555;
  outline: none;
  resize: none;
  overflow: hidden;
  font-family: inherit;
  font-size: 1em; }

.contact__footer-icons {
  display: flex;
  margin: auto; }

.contact__footer-icons img {
  height: 25px !important;
  margin: 3px; }

.contact__mic {
  margin: auto; }

.contact__mic img {
  height: 40px; }

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
  .contact {
    font-size: 13px;
    overflow-y: hidden;
    overflow-x: hidden; }
  .contact__chat-footer input {
    width: 50%;
    white-space: pre-line;
    word-wrap: break-word; } }

@font-face {
  font-family: StarWars;
  src: url("./assets/movies/font/starjedi/Starjhol.ttf"); }

@font-face {
  font-family: StarWars2;
  src: url("./assets/movies/font/starjedi/Starjedi.ttf"); }

.movie {
  background-image: url("../styles/assets/movies/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh; }

.movie::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #CCCCCC; }

.movie::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

.movie::-webkit-scrollbar-thumb {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(90deg, black 0%, black 25%, transparent 100%, black 75%, transparent); }

.movie__navbar {
  display: flex;
  font-family: StarWars2;
  width: 100%;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background-image: url("../styles/assets/movies/stars.jpg");
  background-size: contain; }

.movie__navbar-item {
  padding: .5em 3em .5em 3em;
  text-decoration: none;
  color: white; }

.movie__navbar-item:hover {
  color: #FFE81F; }

.movie__navbar-item-active {
  color: #FFE81F; }

.movie-top {
  font-family: StarWars;
  color: #FFE81F;
  font-size: 30px;
  text-align: center; }

#secondP {
  display: none; }

#readMore {
  display: block; }

#readLess {
  display: none; }

.movie-card {
  background-color: #dce1e5;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  color: #cfd6e1;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  box-sizing: border-box; }

.movie-card {
  transition: .4s; }

.movie-card a {
  text-decoration: none; }

.movie-card button {
  font-family: inherit;
  border: 0;
  cursor: pointer; }

.movie-card button:focus {
  outline: 0; }

.movie-card {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 800px;
  height: 100%;
  min-height: 300px;
  display: block;
  margin: 8vh auto;
  border-radius: 8px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  position: relative; }

@media screen and (max-width: 800px) {
  .movie-card {
    width: 95%;
    max-width: 95%; } }

@media screen and (max-width: 600px) {
  .movie-card {
    background-position: 50% 0%;
    background-size: contain;
    height: 400px; } }

.movie-card[data-movie="Project"] {
  background-image: url("../styles/assets/movies/project.png");
  background-size: auto;
  background-position: center; }

.movie-card[data-movie="Me"] {
  background-image: url("../styles/assets/movies/me.jpg");
  background-size: 60%;
  background-position: -10% 8%; }

.movie-card[data-movie="English"] {
  background-image: url("../styles/assets/movies/cae.jpg");
  background-size: 55%;
  background-position: 0% 7%; }

.movie-card[data-movie="Handball"] {
  background-image: url("../styles/assets/movies/handball.jpg");
  background-size: 60%;
  background-position: -10% 25%; }

.movie-card[data-movie="Guitar"] {
  background-image: url("../styles/assets/movies/guitar.jpg");
  background-size: 60%;
  background-position: -10% 8%; }

.movie-card__overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(to right, rgba(42, 159, 255, 0.2) 0%, #212120 55%, #212120 100%);
  background-blend-mode: multiply;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

@media screen and (max-width: 600px) {
  .movie-card__overlay {
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%); } }

.movie-card__share {
  padding: 1em;
  display: inline-block;
  width: 100%;
  max-width: 130px; }

@media screen and (max-width: 600px) {
  .movie-card__share {
    display: block;
    width: 100%; } }

.movie-card__icon {
  color: #ffffff;
  mix-blend-mode: lighten;
  opacity: .4;
  background: none;
  padding: 0; }

.movie-card__icon:hover {
  opacity: 1;
  mix-blend-mode: lighten; }

.movie-card__icon:not(:first-of-type) {
  margin-left: 5px; }

.movie-card__icon i {
  font-size: 1.2em; }

.movie-card__content {
  width: 100%;
  max-width: 370px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  float: right;
  padding-right: 1.2em;
  padding-bottom: 1em; }

@media screen and (max-width: 1000px) {
  .movie-card__content {
    width: 50%; } }

@media screen and (max-width: 600px) {
  .movie-card__content {
    margin-top: 4.2em;
    width: 100%;
    float: inherit;
    max-width: 100%;
    padding: 0 .5em 1em; } }

.movie-card__header {
  margin-bottom: 2em; }

.movie-card__title {
  color: #ffffff;
  margin-bottom: .25em;
  opacity: .75; }

.movie-card__info {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8em;
  color: #2a9fff;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  opacity: .5; }

.movie-card__desc {
  font-weight: 300;
  opacity: .84;
  margin-bottom: 2em; }

.movie-card h1, .movie-card h2, .movie-card h3 {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400; }

.movie-card .btn {
  padding: .5rem 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: white; }

.movie-card .btn-outline {
  background-color: transparent;
  border: 3px solid #ffffff; }

.movie-card .btn::before {
  font-family: 'Material Icons';
  vertical-align: middle;
  font-size: 1.5em;
  padding-right: .5em; }

.movie-card .btn-outline:hover {
  border-color: #2a9fff;
  color: #2a9fff;
  box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2); }

@media only screen and (min-device-width: 0px) and (max-device-width: 349px) {
  .movie__navbar {
    width: 100vw;
    font-size: 8px;
    position: fixed;
    bottom: 0;
    top: auto;
    padding-top: .5em;
    padding-bottom: .5em; }
  .movie__navbar-item {
    padding: 0 1em 0 1em; }
  .movie-top {
    font-size: 20px;
    margin: 55px 0 0px 0; }
  .movie-card[data-movie="Project"] {
    background-image: url("../styles/assets/movies/project.png");
    background-size: auto;
    background-position: top;
    height: fit-content; }
  .movie-card[data-movie="Me"] {
    background-image: url("../styles/assets/movies/me.jpg");
    background-size: cover;
    background-position: 0% 7%;
    height: fit-content; }
  .movie-card[data-movie="English"] {
    background-image: url("../styles/assets/movies/cae.jpg");
    background-size: cover;
    background-position: 0% 0%;
    height: fit-content; }
  .movie-card[data-movie="Handball"] {
    background-image: url("../styles/assets/movies/handball.jpg");
    background-size: 100%;
    background-position: 10% 65%; }
  .movie-card[data-movie="Guitar"] {
    background-image: url("../styles/assets/movies/guitar.jpg");
    background-size: cover;
    background-position: 10% 8%;
    height: fit-content; }
  .movie-card__content {
    margin-top: 9em; }
  .movie-card__desc {
    width: 90%; }
  .movie::-webkit-scrollbar {
    display: none; } }

@media only screen and (min-device-width: 350px) and (max-device-width: 660px) {
  .movie__navbar {
    width: 100vw;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    top: auto;
    padding-top: .5em;
    padding-bottom: .5em; }
  .movie__navbar-item {
    padding: 0 1em 0 1em; }
  .movie-top {
    font-size: 20px;
    margin: 55px 0 0px 0; }
  .movie-card[data-movie="Project"] {
    background-image: url("../styles/assets/movies/project.png");
    background-size: auto;
    background-position: top;
    height: fit-content; }
  .movie-card[data-movie="Me"] {
    background-image: url("../styles/assets/movies/me.jpg");
    background-size: cover;
    background-position: 0% 7%;
    height: fit-content; }
  .movie-card[data-movie="English"] {
    background-image: url("../styles/assets/movies/cae.jpg");
    background-size: cover;
    background-position: 0% 0%;
    height: fit-content; }
  .movie-card[data-movie="Handball"] {
    background-image: url("../styles/assets/movies/handball.jpg");
    background-size: 100%;
    background-position: 10% 65%; }
  .movie-card[data-movie="Guitar"] {
    background-image: url("../styles/assets/movies/guitar.jpg");
    background-size: cover;
    background-position: 10% 8%;
    height: fit-content; }
  .movie-card__content {
    margin-top: 9em; }
  .movie-card__desc {
    width: 90%; }
  .movie::-webkit-scrollbar {
    display: none; } }

@media only screen and (min-device-width: 660px) and (max-device-width: 850px) {
  .movie__navbar {
    font-size: 10px;
    padding-top: .5em;
    padding-bottom: .5em; } }
