html, body {
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

main {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.display-none{
    display: none;
}
.display-block{
    display: block;
}
.allMayus{
    text-transform: uppercase;
}
.firstMayus{
    text-transform: capitalize;
}

@media only screen  //iPhone 4
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .contact__chat {
          height: 480px;
      }
}
@media only screen //I5
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .contact__chat {
        height: 568px;
    }
}
@media only screen  // i 6 7 8
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .contact__chat {
        height: 667px;
    }
}
@media only screen // i 6 7 8 plus
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .contact__chat {
        height: 736px;
    }
}
@media only screen  //iphone X
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .contact__chat {
        height: 812px;
    }
}